@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.Sojib 💜 Seferiye </h1>
    <p class="lead">Love isn't love till you give it away .</p>
</div>



